In [ ]:
"""
Подготовавливаем данные из таблицы POST для залива в БД и дальнейшей работы модели
Текст заранее предобработан нейросетью в шаге 1_nn_post_fetures
"""

In [1]:
import pandas as pd
pd.set_option('display.max_columns', 500)
import numpy as np
import url from url


from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [2]:

post = pd.read_csv('post_pca_2_nn.csv')

In [3]:
post_original = pd.read_csv('post.csv')

In [4]:
post.insert(loc = 1,
          column = 'text',
          value = post_original['text'])

In [5]:
post.insert(loc = 2,
          column = 'topic',
          value = post_original['topic'])

In [6]:
post

,post_id,text,topic,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech,PCA_1,PCA_2
0,1,UK economy facing major risks\n\nThe UK manufa...,business,0,0,0,0,0,0,0.789074,1.578994
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,0,0,0,0,0,0,0.792763,1.521054
2,3,Asian quake hits European shares\n\nShares in ...,business,0,0,0,0,0,0,0.801290,1.223608
3,4,India power shares jump on debut\n\nShares in ...,business,0,0,0,0,0,0,0.867122,0.971222
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,0,0,0,0,0,0,0.411658,0.809848
...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",movie,0,0,1,0,0,0,-0.983510,-0.483879
7019,7316,I give this movie 2 stars purely because of it...,movie,0,0,1,0,0,0,-0.821777,-0.706064
7020,7317,I cant believe this film was allowed to be mad...,movie,0,0,1,0,0,0,-0.469401,-0.874856
7021,7318,The version I saw of this film was the Blockbu...,movie,0,0,1,0,0,0,-1.579793,-0.448612
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,movie,0,0,1,0,0,0,-0.894470,-0.534900

In [24]:
engine = create_engine(url)

In [26]:
#записал эту таблицу
post.to_sql('shestov_post_lesson_22_2_pca_nnn', con=engine) # записываем таблицу

23